<div data-page="edit-profile" class="page" ng-controller="userProfileController">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="forms.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">פרטי משתמש</div>
            <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
        </div>
    </div>
    <div class="page-content">

        <div class="content-block-title">פרטים אישיים</div>
        <form id="demoform-1" class="store-data list-block">
            <div style="text-align:center;margin:2rem;padding:1rem;">
                <!-- Blue -->
                <div ng-show="isLoad" class="col-25">
                    <span class="preloader preloader-blue"></span>
                </div>
                <img ng-hide="isLoad" class="avatar takePhoto" ng-src="{{currentUser.photoURL}}" />
                <input type="file" id="imageUp" onchange="angular.element(this).scope().imageUpload(this)" accept="image/*" />
                <!--<input type="text" id="imageUp"  accept="image/*"/>-->
            </div>
            <p ng-show="imageMsg" class="error validationerrore">
                {{imageMsg}}
            </p>
            <br>

            <div class="list-block inputs-list">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">שם מלא</div>
                                <div class="item-input">
                                    <input  ng-model="currentUser.displayName" type="text" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">אימייל</div>
                                <div class="item-input">
                                    <input disabled ng-model="currentUser.email" type="email" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-password"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">סיסמה</div>
                                <div class="item-input">
                                    <input disabled  ng-model="currentUser.password" type="password" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-tel"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">טלפון</div>
                                <div class="item-input">
                                    <input  ng-model="currentUser.tel" type="number" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <p class="buttons-row">
                    <div style="text-align:center;" class="content-block-title">הפרטים מתעדכנים אוטומטית</div>
                </p>
            </div>
        </form>

    </div>
</div>