<style>
    div.item-after {
        color: white!important;
    }
</style>
<div data-page="swiper-multiple" class="page" ng-controller="memberTicketsController">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="forms.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">שחרור כיסא</div>
            <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
        </div>
    </div>
    <div class="page-content">
        <!-- This block will be displayed if anything found, and this list block is used a searbar target -->
        <div class="list-block" style="margin:0;">
            <ul>
                <li>
                    <div style="margin-bottom:100px;" ng-repeat="(key,seat) in ticketsList" class="card ks-card-header-pic">
                        <div ng-if="seat.onSale==false" style="background-image:url({{seat.event.eventImage}})" valign="top" class="card-header color-white no-border"></div>
                        <div ng-if="seat.onSale" style="background-color:rgba(0, 0, 0, 0.74);" valign="top" class="card-header color-white no-border">
                            <p class="onSlae">הכרטיס הועבר למכירה </p>
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray" style="margin-bottom:0;">{{seat.event.homeTeam.City +seat.event.homeTeam.Name}} vs. {{seat.event.awayTeam.City + seat.event.awayTeam.Name}}</p>
                                <p class="color-gray" style="margin:0;">{{seat.event.date + ' ' + seat.event.time}}</p>
                                <p> שער {{seat.gateNum}} ,  מספר כיסא - {{seat.seatNumber}} ,  שורה -  {{seat.row}}</p>
                            </div>
                        </div>
                        <div class="card-footer" style="color:dimgrey;">
                            <a style="padding-top:.4rem;" href="#" class="link ks-pb-popup-dark">
                                <i class="material-icons">remove_red_eye</i>
                                <span class="card-text-bottom">{{seat.counter}}</span>
                            </a>
                            <a ng-if="seat.onSale==false" ng-click="makeTicketAvailable(seat)" href="#" class="link">שחרר כיסא</a>
                            <a ng-if="seat.onSale" ng-click="pullTicketBack(seat)" href="#" class="link">משוך כיסא</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="toolbar toolbar-bottom">
        <div class="toolbar-inner">
            <a href="memberTicketsByFilter.html" class="link"><i class="material-icons" style="color:rgba(255, 255, 255, 0.7)">search</i></a>
            <a href="#" class="link"><i class="material-icons" style="color:rgba(255, 255, 255, 0.7);display:none;"></i></a>
            <a href="#" class="link"><i class="material-icons" style="color:rgb(255, 255, 255)">list</i></a>
        </div>
    </div>
</div>