<div data-page="home" class="page" ng-controller="stadiumGateController">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="forms.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">אצטדיון</div>
            <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
        </div>
    </div>
    <!-- Search Bar -->
    <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
        <div class="searchbar-input">
            <input type="search" placeholder="חפש"><a href="#" class="searchbar-clear"></a>
        </div><a href="#" class="searchbar-cancel">ביטול</a>
    </form>

    <!-- Search Bar overlay -->
    <div class="searchbar-overlay"></div>

    <div class="page-content">
        <!-- This block will be displayed if nothing found -->
        <div class="content-block searchbar-not-found">
            <div class="content-block-inner">לא נמצא</div>
        </div>

        <div class="content-block-title">{{event.location}}</div>
        <!-- This block will be displayed if anything found, and this list block is used a searbar target -->
        <div class="list-block list-block-search searchbar-found">
            <ul>
                <li ng-repeat="(key,gate) in gates">
                    <a  ng-click="go('ticketsByCamera.html',gate)" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title">שער {{gate.number}}</div>
                            <div class="item-text">{{gate.minPrice}} - {{gate.maxPrice}} ש"ח</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="toolbar toolbar-bottom">
        <div class="toolbar-inner">
            <a href="#tab-1" class="link"><i class="material-icons" style="color:white; display:none;">remove_red_eye</i></a>
            <a href="#" class="link ks-pb-popup-dark"><i class="material-icons" style="color:white;">remove_red_eye</i></a>
            <a href="#tab-1" class="link"><i class="material-icons" style="color:white;display:none;">remove_red_eye</i></a>
        </div>
    </div>
</div> 